<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/jquery.passwordstrength.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">

<script src="../js/jquery.min.js"></script>
<script src="../js/angular.min.js"></script>
       <script src="../js/jquery.passwordstrength.js"></script>
       
	<script>
	
    $(function(){

        $('input#pwd').passwordstrength({
            'minlength': 8,
            'number'   : true,
            'capital'  : true,
            'special'  : true,
            'labels'   : {
                'general'   : 'Password Guidelines :',
                'generalHeader'   : 'The Password must have -',
                'minlength' : 'At least {{minlength}} characters',
                'number'    : 'At least one number',
                'capital'   : 'At least one uppercase letter',
                'special'   : 'At least one special character'
            }
        });
        
    });
    
    
    function reset(pwd){
    	document.getElementById("pwd").value = "";
    }
   
    </script>
       
   
    
    
    <style>
    	
    
    
 
    
    </style>
<title>Password Checker</title>
</head>
<body class="center-panel">

	<div class="heading_color fixed-size-square">
		<h4>Check Password</h4>


					<div class="">
						 <input id="pwd"
							type="password"
							placeholder="Enter Password" maxlength="16" >

					</div>
	<br><br>
				<button type="button"
					onclick="reset()">Reset</button>
					</div>
</body>

 
</html>